body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #3e8b80;
}
#message-container{
   width: 50%;
   max-width: 1200px;
}
#message-container div{
    background-color: #001F3D;
    padding: 5px;
    color: white;
    border-radius: 10px;
    margin: 2px;
}
#message-container div:nth-child(2n){
    background-color: #A7E8CA;
    color: black;
    border-radius: 10px;
}
#send-container{
    position: fixed;
    transform: scale(1.2);
    padding-bottom: 30px;
    bottom: 0;
    max-width: 1200px;
    width: 40%;
    display: flex;
    justify-content:center;
    gap: 2px;
}

#message-input {
    flex-grow: 1;
  }
